{% capture captured_page %}
{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<!-- /templates/page.thank-you.liquid -->


<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 style="margin-bottom: 30px;">{{ page.title }}</h1>
        <a href="/collections/all" class="btn btn-primary">Shop All</a>
      </div><!-- end .col-lg-6 -->
    </div><!-- end .row -->
  </div><!-- end .container -->
</section>
{% endcapture %}
{% include 'password-protect' %}